@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>

	<iframe title="YouTube video player" width="480" height="390" src="http://www.youtube.com/embed/Lq5om-jFJKE" frameborder="0" allowfullscreen></iframe>

	@using ( Html.BeginForm( ) )
	{
		<ul class="commentList">
		@foreach ( var comment in Model )
		{
			<li>
				<a href="http://www.ru.is"><img src='@Url.Content("~/Images/User.png")' alt="Notandi" /></a>
				<div class="commentBody">
					<a href="http://www.ru.is">@comment.UserName </a>
					<span>@comment.CommentText </span>
					<div>
						<abbr title='@comment.CommentDate '>@comment.CommentDate.ToString( "dd. MMMM HH:mm" )</abbr>
						<a href="#">Líkar þetta</a>
					</div>
				</div>
			</li>
         }
			<li class="commentAdd">
				<textarea id="CommentText" name="CommentText" rows="3" cols="20"></textarea>
				<label>
					<input type="submit" value="Skrifa athugasemd" />
				</label>
				@Html.ValidationMessage( "CommentText" )
			</li>
		</ul>
	}
